/* =========================================================================  */
/* Paint API */
/* =========================================================================  */

.element{
    --color: hsl(0deg,50%,50%);

    height: 100%;
    width: 100%;

    background: paint(circle) no-repeat center center;
    transition: --color .3s ease-in-out;
}

.element:hover{
    --color: hsl(180deg, 50%, 50%);
}