.element{
    --radius: 20;
    --thickness: 2px;
    --mouse-x: 100px;
    --mouse-y: 100px;
    --animation-tick: 0;

    --color: #14146b;
    --bg: #ecb6aa;

    height: 100%;
    width: 100%;

    background: var(--bg);
}

.element.is-animating{
    background: paint(pointer) var(--bg);
}